body{
    background-color: bisque;
}
.p1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-variant: normal;
    color: black;
    
}

.p2{

    font-family: 'Courier New', Courier, monospace;
    font-family: 600px;
    font-display:auto;
    color: rgb(66, 29, 29);

}
.p3{
    font-weight: 100;
    color: blue;
}
